body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  cursor: pointer;
  opacity: 0.4;
}

.card > img {
  margin-bottom: .75rem;
  height: 300px;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#showItem .container .row {
  display: none;
}

#showItem .container .row.active {
  display: flex;
}

.back-top {
  cursor: pointer;
}

.selected-image-desc {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.selected-image-desc p {
  position: absolute;
  left: 300px;
  overflow: hidden;
  opacity: 0;
  width: 92%;
  padding: 0 15px;
  height: 170px;
  overflow-y: auto;
  z-index: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-header {
  z-index: 100;
}